
DB_NAME=myapp
MODULE_PATH=src/modules
NODE_ENV=dev
LOGS_DIR

JWT_SECRET=string
JWT_EXPIRE_ACCESS_TOKEN=10m
JWT_EXPIRE_REFRESH_TOKEN=30d

# email
EMAIL_FROM=email@example.com

# cookies
COOKIE_ACCESS_TOKEN_MAX_AGE=900
COOKIE_REFRESH_TOKEN_MAX_AGE=604800

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# App URLs
BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3001


# Redis
TTL=3600
REDIS_URL=redis://localhost:6379

## no docker

S3_BUCKET_NAME=my-bucket
MONGO_URI=mongodb://localhost:27017/myapp
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123

## with docker

S3_BUCKET_NAME=my-bucket
MONGO_URI=mongodb://mongo:27017/myapp
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123