
DB_NAME=myapp
MODULE_PATH=src/modules
NODE_ENV=dev

S3_BUCKET_NAME=my-bucket
MONGO_URI=mongodb://mongo:27017/myapp
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123